<h2>Email Preview for {{ month_period.month }} {{ month_period.year }}</h2>
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Message</th>
                <th>Outstanding Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for data in email_data %}
                <tr>
                    <td>{{ data.email }}</td>
                    <td><pre>{{ data.body }}</pre></td>
                    <td>{{ data.amount_due }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="send_emails" disabled>Send Emails</button>
    <button type="submit" name="export_emails">Export Emails to CSV</button>
</form>
