.container {
    width: 100%;
    margin: 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Desktop Table Display */
.session-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Table cell styling */
.session-table th, .session-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Mobile List Display */
.session-list {
    display: none;
    margin-top: 20px;
}

/* Mobile-specific styling */
@media (max-width: 600px) {
    /* Hide desktop table and show mobile list on small screens */
    .session-table {
        display: none;
    }
    .session-list {
        display: block;
    }

    .session-list-item {
        margin-bottom: 10px;
    }
    
    /* Collapsible section styling */
    .collapsible-header {
        display: flex;
        align-items: center;
        justify-content:flex-start;
        color: black;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 30px;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        width: auto;
        gap: 10px;
    }

    .collapsible-button {
        background-color: lightgray;
        border: none;
        color: whiblackte;
        font-size: 1.2rem;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .collapsible-content {
        display: block; /* Hide content by default */
        margin-top: 5px;
        width: 100%;
    }

    .session-list-button {
        padding: 12px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: none;
        width: 80%;
        display: block;
        text-align: center;
        height: 25px;  /* Fixed height for mobile buttons */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 20px;
        font-weight: 700;
    }
    .session-list-button:hover {
        background-color: #45a049;
    }
}
